a {
	color: #7b151c;
}

.accordion-button:focus {
	border-color: none !important;
	outline: 0;
	box-shadow: none !important;
}

#tablaMensuales td input[type="checkbox"] {
	margin: 16px;
}

#tablaMensuales tbody tr td:last-child {
	display: flex;
	height: 50px;
}
