:root {
	--dt-row-selected-text: white;
	--dt-row-selected: #ffc107;
}

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body {
	display: grid;
	grid-template-rows: 100px auto 100px;
	min-height: 100vh;
	background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

header,
main,
footer {
	min-width: 800px;
	width: 100vw;
	max-width: 1280px;
	margin: 0px auto;
	box-shadow: 0 0.25rem 0.8rem black;
}

main {
	background-color: whitesmoke;
}

footer {
	background-color: black;
	height: 100px;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer figure {
	margin-bottom: 0px;
}

footer img {
	width: 300px;
	height: 80px;
}

.container_mensuales-tabla {
	max-width: 1280px;
	margin: 0px auto 0px auto;
}

nav {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	background-color: black;
}

nav .nav-container {
	width: 100%;
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	color: white;
	align-items: center;
}
nav figure {
	margin-bottom: 0;
}

nav img {
	width: 300px;
	height: 80px;
}

nav ul {
	display: flex;
	list-style-type: none;
	text-align: center;
	vertical-align: middle;
	align-items: center;
	font-size: 1.25rem;
	letter-spacing: 3px;
	margin-right: 1rem;
	margin-bottom: 0px;
}

nav ul li {
	padding: 0.5rem 0.75rem;
}

nav ul li:not(:last-child) {
	margin-right: 2rem;
}

nav ul li a:hover {
	color: rgb(255 195 7);
	transition: 0.3s ease-out;
	cursor: pointer;
}

nav ul li a {
	text-decoration: none;
	color: white;
}

.accordion-body img {
	width: 100%;
}

#inputExcel {
	display: none;
}

#labelInputExcel {
	display: inline-block;
	cursor: pointer;
	font-size: 1rem;
	background-color: green;
	width: auto;
	height: auto;
	padding: 6px 14.5px;
	border-radius: 4px;
	vertical-align: middle;
	border: 1px solid green;
}

#labelInputExcel:hover {
	background-color: darkgreen;
}

#btn_mensuales-imprimir {
	border-radius: 4px;
}

a {
	color: #7b151c;
}

.accordion-button:focus {
	border-color: none !important;
	outline: 0;
	box-shadow: none !important;
}

.row {
	max-width: 1280px;
}

#tablaMensuales {
	font-size: 14px !important;
}

#tablaMensuales_wrapper {
	padding: 1rem;
}

#tablaMensuales {
	width: 100% !important;
	font-size: 1rem;
}

#tablaMensuales th {
	padding-left: 0.5rem;
	text-align: center;
	vertical-align: middle;
	max-width: auto;
}

#tablaMensuales td {
	vertical-align: middle;
}

#tablaMensuales th:nth-last-child(3) {
	height: 50px;
	width: 50px !important;
	text-align: center;
	padding: 0px;
}

#tablaMensuales td:nth-last-child(3) {
	height: 50px;
	text-align: center;
	vertical-align: baseline;
	padding: 0px;
}

#tablaMensuales tbody tr td:nth-last-child(2) {
	display: flex;
	height: 50px;
}

#tablaMensuales tbody tr td:nth-last-child(2) .fa-pen-to-square::before {
	position: relative;
	left: 12px;
}
#tablaMensuales tbody tr td {
	padding-left: 0.5rem;
}

#tablaMensuales th:nth-last-child(2) {
	text-align: center;
	padding: 0px;
}

.container_mensuales-buttons {
	min-width: 100vw !important;
	margin: 1rem 0 1rem 0 !important;
}

input.form-control:focus,
select.form-select:focus,
.paginate_button a {
	box-shadow: none !important;
	border: 1px solid rgb(255 195 7);
}

.pagination li a:active {
	box-shadow: none;
}

.hidde {
	display: none !important;
}

#tablaMensuales tbody tr td:last-child {
	display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

.emptyError {
	color: #dc3545;
	display: none;
	font-size: 14px;
}

/* css de los recibos */

.container_mensuales-recibo {
	width: 600px;
	margin: auto;
	border: 2px solid black;
	margin-bottom: 1px;
	font-family: "Times New Roman", Times, serif;
}

.container_mensuales-recibo h2,
.container_mensuales-recibo h3,
.container_mensuales-recibo h4,
.container_mensuales-recibo h5,
.container_mensuales-recibo h6 {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	margin: 0px;
	font-weight: 700;
}

.cabezera {
	border-bottom: 2px solid black;
	background-color: #ccc;
}

.cabezera div {
	width: 100%;
	height: 66px;
	background-color: white;
	display: flex;
	justify-content: center;
}

.cabezera img {
	text-align: center;
	height: 66px;
}

.cabezera h3 {
	text-align: center;
	padding: 0.5rem;
	background-color: #ccc;
	border-top: 2px solid black;
}

.filaDos {
	display: flex;
	height: 52px;
}

.filaDos,
.filaTres {
	border-bottom: 2px solid black;
	/* border-right: 3px solid black;
	border-left: 2px solid black; */
}

.filaDos span {
	border-right: 1px solid black;
}

.filaDos em {
	font-size: 0.7rem;
}

.filaDos span:first-child {
	flex-basis: 60%;
	vertical-align: center;
	padding: 0.5rem;
	font-size: 0.9rem;
}

.filaDos span:nth-child(2),
.filaDos span:nth-child(3) {
	padding: 1rem;
	flex-basis: 142px;
	text-align: center;
	vertical-align: center;
}

.filaTres {
	display: grid;
	grid-template-columns: 70% 30%;
	height: 42.2px;
}

.filaTres h4 {
	text-align: center;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding: 0.1rem;
	height: 22.19px;
}

.filaTres span {
	text-align: center;
	border-right: 1px solid black;
	height: 18px;
}

.filaCuatro,
.filaCinco {
	display: grid;
	grid-template-columns: 80% 20%;
}

.filaCinco {
	background-color: #ccc;
	border-bottom: 2px solid black;
}

.filaCuatro span:first-child {
	text-decoration: underline;
}

.filaCuatro span {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding-left: 0.5rem;
	font-size: 14px;
	height: 19px;
}

.filaCinco h4 {
	padding: 0.15rem 0.5rem;
	border-right: 1px solid black;
}

.filaSeis {
	display: flex;
	height: 80px;
	justify-content: space-around;
	align-items: end;
}

.filaSeis {
	padding-bottom: 0.25rem;
	border-bottom: 2px solid black;
}

.filaSiete {
	display: flex;
	justify-content: center;
}

.filaSiete img {
	height: 66px;
}

.page-break {
	page-break-after: always;
}

#tablaMensuales th,
#tablaMensuales td {
	padding: 8px 2px;
}

#tablaMensuales :nth-child(1) {
	padding-right: 20px;
}

#tablaMensuales th:nth-child(13),
#tablaMensuales td:nth-child(13) {
	padding-right: 4px;
	padding-left: 4px;
}

#tablaMensuales td:nth-child(14) {
	padding: 8px 2px;
}

#tablaMensuales td:nth-child(14) .btn {
	padding: 4px;
	text-align: center;
	font-size: 14px;
}

#tablaMensuales td:nth-child(14) i::after {
	text-align: center;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
	.container_mensuales-tabla {
		max-width: 1200px !important;
		width: 100vw !important;
		display: flex;
		justify-content: center;
	}

	#tablaMensuales {
		max-width: 100vw !important;
		font-size: 0.7rem !important;
	}

	#tablaMensuales_wrapper {
		padding: 1rem;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	header,
	main,
	footer {
		min-width: 768px;
		max-width: 800px;
		margin: 0px auto;
		box-shadow: 0 0.25rem 0.8rem black;
	}

	.dataTables_wrapper .row .col-md-6 {
		font-size: 8px !important;
	}

	#tablaMensuales_length .form-select-sm {
		font-size: 0.6rem;
	}

	#tablaMensuales_length label {
		font-size: 0.7rem;
	}

	#tablaMensuales_filter input {
		font-size: 0.7rem;
	}

	.pagination li a {
		font-size: 0.7rem !important;
	}

	#tablaMensuales_filter label {
		/* font-size: 0.7rem; */
		font-size: 0.7rem;
	}

	#tablaMensuales_filter input {
		width: 79%;
	}

	#tablaMensuales_info {
		font-size: 0.7rem;
	}

	#tablaMensuales th,
	#tablaMensuales td {
		height: auto;
		padding: 4px 1px;
	}

	#tablaMensuales th:nth-child(1) {
		padding-right: 1rem;
	}

	#tablaMensuales th:nth-last-child(3) {
		height: 50px;
		width: 50px !important;
		text-align: center;
		padding: 4px;
	}

	#tablaMensuales td:nth-last-child(3) {
		height: 50px;
		text-align: center;
		vertical-align: middle;
		padding: 0px;
	}

	#tablaMensuales td {
		height: 25px !important;
		vertical-align: middle;
	}

	#tablaMensuales td:nth-last-child(2) {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#tablaMensuales td:nth-last-child(2) i {
		font-size: 0.8rem;
	}

	#tablaMensuales th:nth-last-child(3) input {
		width: 8px;
		height: 8px;
	}

	#tablaMensuales td:nth-last-child(3) input {
		width: 8px;
		height: 8px;
	}

	.container_mensuales-buttons button {
		width: auto;
		height: auto;
		padding: 3px 12px;
	}

	#labelInputExcel {
		padding: 3px 12px;
	}

	.container_mensuales-buttons i {
		font-size: 0.7rem;
	}

	.pagination li a {
		font-size: 0.7rem;
	}

	nav ul {
		font-size: 1rem;
		letter-spacing: 3px;
		margin-right: 1rem;
		margin-bottom: 0px;
	}

	.container_mensuales-tabla {
		min-width: 768px !important;
		max-width: 768px !important;
		width: 100vw !important;
		display: flex;
		justify-content: center;
	}

	#tablaMensuales {
		max-width: 100vw !important;
		font-size: 0.5rem !important;
	}

	#tablaMensuales_wrapper {
		padding: 1rem;
	}

	.fa-trash,
	.fa-pen-to-square {
		font-size: 12px !important;
	}

	td:nth-child(14) {
		/* width: 50px; */
		padding-left: 1px !important;
	}

	td:nth-child(14) .btn {
		padding: 6px 4px;
	}
}

@media (min-width: 480px) and (max-width: 768px) {
	* {
		font-size: 12px;
	}

	header,
	main,
	footer {
		min-width: 480px;
		width: 100vw;
		max-width: 768px;
		box-shadow: 0 0.25rem 0.8rem black;
	}

	#labelInputExcel {
		min-height: 18px;
		padding: 4.5px 9px;
		min-width: 15px;
		font-size: 12px;
	}

	#tablaMensuales {
		max-width: 100vw;
		font-size: 0.5rem;
	}

	#tablaMensuales th {
		font-size: 0.7rem;
	}

	#tablaMensuales td {
		padding: 4px 1px !important;
		font-size: 0.7rem;
		text-align: center;
		vertical-align: middle;
	}

	#tablaMensuales th:nth-child(2) {
		padding-right: 12px;
	}

	#tablaMensuales th:nth-child(3) {
		padding-right: 12px;
	}

	#tablaMensuales input[type="checkbox"] {
		width: 8px;
		height: 8px;
	}

	#tablaMensuales td:nth-child(14) .btn {
		width: 35px;
	}

	#tablaMensuales .btn i {
		font-size: 12px !important;
	}

	.dataTables_wrapper .row {
		display: flex;
		justify-content: space-between;
	}

	.dataTables_wrapper .row .col-md-6 {
		display: inline;
		width: 50vw;
	}

	.dataTables_wrapper .row .col-md-5,
	.dataTables_wrapper .row .col-md-7 {
		display: inline;
		width: 50vw;
		font-size: 12px !important;
	}
}

@media (max-width: 480px) {
}
