a {
	color: #7b151c;
}

.accordion-button:focus {
	border-color: none !important;
	outline: 0;
	box-shadow: none !important;
}

#tablaMensuales td input[type="checkbox"] {
	margin: 16px;
}

#tablaMensuales tbody tr td:nth-last-child(2) {
	display: flex;
	height: 50px;
}

input.form-control:focus,
select.form-select:focus {
	box-shadow: none !important;
}

.pagination li a:active {
	box-shadow: none;
}

.hidde {
	display: none !important;
}

#tablaMensuales tbody tr td:last-child {
	display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

.emptyError {
	color: #dc3545;
	display: none;
}
